{% extends 'andrewbase.html' %}
{% block home %}
<!DOCTYPE html>
<html lang="en">


<html>
<body class="home-bg">

# main page with links
<div class="hometext">
    <center><h1 style="color:red;font-size:125px;margin-top:50px;"><a style="text-decoration:none;color:white;cursor:text;">Andrew</a></h1></center>
    <p style="color:red;text-align:center;font-family:verdana;">Andrew Crisostomo | Rating System | HTML/CSS | Other Sources</p>
    <center><ul>
        <li class="btn"> <a style="color: red;" href="https://docs.google.com/document/d/1m9iGs8guf-1QQK8ik5K9iR7KFQmpcG5HrypKmLz7Zn4/edit?usp=sharing">Project Plan</a></li>
        <li class="btn"> <a style="color: red;" href="https://padlet.com/jmortensen7/csp2021tri3">Resources</a></li>
        <li class="btn"> <a style="color: red;" href="../Andrew/andrewminilab">Class</a></li>
        <li class="btn"> <a style="color: red;" href="../Andrew/bubbles1">Bubblesort</a></li>
    </ul></center>
</div>
<style>
body
{
  background-image: url(https://wallpaperplay.com/walls/full/7/3/a/190973.jpg);
}
</style>



</body>
</html>
{% endblock %}