{% extends 'base.html' %}
{% block home %}
<!DOCTYPE html>
<html lang="en">


<html>
<body class="home-bg">


<div class="hometext">
    <center><h1 style="color:black;font-size:125px;margin-top:50px;"><a style="text-decoration:none;color:black;cursor:text;">Anthony</a></h1></center>
    <p style="color:black;text-align:center;font-family:verdana;">Anthony Wilson |Rating System|Game of the Month/Year|Help Deployment </p>
    <center><ul>
        <li class="btn"> <a style="color: white;" href="https://docs.google.com/document/d/1m9iGs8guf-1QQK8ik5K9iR7KFQmpcG5HrypKmLz7Zn4/edit?usp=sharing">Project Plan</a></li>
        <li class="btn"> <a style="color: white;" href="https://padlet.com/jmortensen7/csp2021tri3">Resources</a></li>
        <li class="btn"> <a style="color: white;" href="../Anthony/anthonyminilab">Minilab</a></li>
        <li class="btn"> <a style="color: white;" href="../Anthony/bubblesort1">Bubblesort</a></li>
    </ul></center>
</div>

<style>

body
{
background-image: url(https://wallpapershome.com/images/pages/pic_h/14876.jpg);
}

</style>


</body>
</html>

{% endblock %}
