{% extends 'anthonybase.html' %}
{% block home %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form id="bubbleform" action="/Anthony/bubblesort1" method="POST" >
        <input style="border-radius: 20px" class="col-1" name="var" id="var" type="string">
        <button style="margin-left: 20px" class="btn btn-primary">Sort!</button>
    </form>
</div>
<h1>{{sort.inputlist}}</h1>
</body>
<style>
body
{
  background-image: url(https://wallpapershome.com/images/pages/pic_h/14876.jpg);
}
</style>
</html>
{% endblock %}