{% extends 'base.html' %}
{% block home %}
<!DOCTYPE html>
<html lang="en">


<html>

<body class="home-bg">


<div class="hometext">
    <center><h1 style="color:black;font-size:125px;margin-top:50px;"><a style="text-decoration:none;color:Black;cursor:text;">Ahmad</a></h1></center>
    <p style="color:black;text-align:center;font-family:consolas;">Login System | Rating System | Blueprints | HTML</p>
    <center><ul>
        <li class="btn"> <a style="color: black;" href="https://docs.google.com/document/d/1m9iGs8guf-1QQK8ik5K9iR7KFQmpcG5HrypKmLz7Zn4/edit?usp=sharing">Project Plan</a></li>
        <li class="btn"> <a style="color: black;" href="../Ahmad/games">Minilab1</a></li>
        <li class="btn"> <a style="color: black;" href="../Ahmad/bubblesort">Minilab2</a></li>
        <li class="btn"> <a style="color: black;" href="../Ahmad/signup">Login</a></li>
        <li class="btn"> <a style="color: black;" href="../Ahmad/rating">Rating</a></li>
        <li class="btn"> <a style="color: black;" href="../Ahmad/gamereq">System Requirements</a></li>
    </ul></center>
</div>
<style>
body
{
  background-image: url(https://www.itl.cat/pngfile/big/230-2305525_lion-background-images-hd.jpg);
}
</style>



</body>
</html>
{% endblock %}

