<!DOCTYPE html>
<html>
<style>
table,th,td {
  border : 1px solid black;
  border-collapse: collapse;
}
th,td {
  padding: 5px;
}
</style>
<body>

<h2>A Database of All Battle Royale Graphics Card Requirements</h2>

<button type="button" onclick="loadDoc()">Get Graphics Card Requirements For Battle Royale Games</button>
<br><br>
<table id="demo"></table>

<script>
function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      myFunction(this);
    }
  };
  xhttp.open("GET", "cd_catalog.xml", true);
  xhttp.send();
}
function myFunction(xml) {
  var i;
  var xmlDoc = xml.responseXML;
  var table="<tr><th>Game</th><th>GPU</th></tr>";
  var x = xmlDoc.getElementsByTagName("CD");
  for (i = 0; i <x.length; i++) {
    table += "<tr><td>" +
    x[i].getElementsByTagName("Game")[0].childNodes[0].nodeValue +
    "</td><td>" +
    x[i].getElementsByTagName("GPU")[0].childNodes[0].nodeValue +
    "</td></tr>";
  }
  document.getElementById("demo").innerHTML = table;
}
</script>
<img id="drag3" src="https://akm-img-a-in.tosshub.com/sites/btmt/images/stories/pubg_game_660_301220123353.jpg" draggable="true" ondragstart="drag(event)" width="200" height="150">
<img id="drag4" src="https://cdn2.unrealengine.com/battle-pass-chapter-2-season-6-1920x1080-dc8eb73dc494.jpg" draggable="true" ondragstart="drag(event)" width="200" height="150">
<img id="drag5" src="https://static.bhphotovideo.com/explora/sites/default/files/styles/top_shot/public/ts-apex-legends-free-to-play-battle-royale_0.jpg?itok=mISX6TSE" draggable="true" ondragstart="drag(event)" width="200" height="150">
<img id="drag1" src="https://img.redbull.com/images/c_fill,w_1500,h_1000,g_auto,f_auto,q_auto/redbullcom/2018/12/14/7518db4d-58a6-4868-aa3c-748ad1dd6dd7/brawl-stars" draggable="true" ondragstart="drag(event)" width="200" height="150">
<img id="drag2" src="https://img.etimg.com/thumb/msid-75097490,width-1200,height-900,imgsize-545771,overlay-etpanache/photo.jpg" draggable="true" ondragstart="drag(event)" width="200" height="150">
<img id="drag6" src="https://i.ytimg.com/vi/tmWwGP5mROg/maxresdefault.jpg" draggable="true" ondragstart="drag(event)" width="200" height="150">
<img id="drag7" src="https://assets-cdn.daybreakgames.com/uploads/dcsclient/000/000/209/841.jpg?v=1.0" draggable="true" ondragstart="drag(event)" width="200" height="150">
<img id="drag8" src="https://cdn.cloudflare.steamstatic.com/steam/apps/813820/capsule_616x353.jpg?t=1593100106" draggable="true" ondragstart="drag(event)" width="200" height="150">


</body>
<style>
body
{
  background-image: url(https://cdn.statically.io/img/www.wallpaperflare.com/static/4/126/436/simple-simple-background-minimalism-video-game-characters-wallpaper.jpg);
}
</style>
</html>