{% extends 'jaideepbase.html' %}
{% block home %}

<!DOCTYPE html>
<html lang="en">


<html>
<body class="home-bg">


<div class="hometext">
    <center><h1 style="color:black;font-size:125px;margin-top:10px;"><a style="text-decoration:none;color:black;cursor:text;">Racing</a></h1></center>


</div>

<div class="media">
    <img src="https://wallpapercave.com/wp/wp8096325.jpg" class="mr-3 mt-3 rounded-circle" style="width:500px;">
    <div class="media-body">
        <h1>Rocket League</h1>
        <p>Rocket League is a game developed and published by Psyonix in which two teams of rocket powered vehicles play soccer and attempt to score goals in the opponents goal</p>
    </div>
</div>

<!-- Media middle -->
<div class="media">
    <img src="https://wallpapercave.com/uwp/uwp28955.jpeg" class="mr-3 mt-3 rounded-circle" style="width:500px">
    <div class="media-body">
        <h1>Mario Kart</h1>
        <p>Mario Kart is a game developed and published by Nintendo in which the user races against a computer an other users in an attempt to complete the circuits before the others</p>
    </div>
</div>

<!-- Media bottom -->
<div class="media">
    <img src="https://wallpapercave.com/uwp/uwp945630.jpeg" class="mr-3 mt-3 rounded-circle" style="width:500px">
    <div class="media-body">
        <h1>Need for Speed</h1>
        <p>Need for Speed is a game developed by Criterion Games and published by Electronic Arts which centers around street racing and the users have to complete many different races and escape the law enforcement in game</p>
    </div>
</div>


</body>

{% endblock %}
</html>

