<!DOCTYPE html>
<html lang="en">


<html>
<body class="home-bg">


<div class="hometext">
  <center><h1 style="color:black;font-size:125px;margin-top:10px;"><a style="text-decoration:none;color:black;cursor:text;">Racing</a></h1></center>


</div>

<div class="container mt-3">

  <div class="media border p-3">
    <img src="https://wallpapercave.com/wp/wp8096325.jpg" class="mr-3 mt-3 rounded-circle" style="width:600px;">
    <div class="media-body">
      <h1>Rocket League </i></small></h1>
      <p>Rocket League is a game developed and published by Psyonix in which two teams of rocket powered vehicles play soccer and attmept to score goals in the opponents goal</p>
    </div>
    <div class="container mt-3">

      <div class="media border p-3">
        <img src="https://wallpapercave.com/uwp/uwp28955.jpeg" class="mr-3 mt-3 rounded-circle" style="width:600px;">
        <div class="media-body">
          <h1>Mario Kart </i></small></h1>
          <p>Mario Kart is a game developed and published by Nintendo in which the user races against a computer an other users in an attmept to complete the circuits before the others</p>
        </div>
        <div class="container mt-3">

          <div class="media border p-3">
            <img src="https://wallpapercave.com/uwp/uwp945630.jpeg" class="mr-3 mt-3 rounded-circle" style="width:600px;">
            <div class="media-body">
              <h1>Need for Speed </i></small></h1>
              <p>Need for Speed is a game developed by Criterion Games and published by Electronic Arts which centers around street racing and the users have to complete many different races and escape the law enforcement in game</p>
            </div>

          </div>
          <style>

body
{
background-image: url(https://www.solidbackgrounds.com/images/1920x1080/1920x1080-gray-blue-solid-color-background.jpg);
}

</style>


</body>
</html>


