{% extends 'base.html' %}
{% block home %}
<html lang="en">


<html>
<body class="home-bg">


<div class="hometext">
    <center><h1 style="color:black;font-size:125px;margin-top:50px;"><a style="text-decoration:none;color:black;cursor:text;">Lions</a></h1></center>
    <p style="color:black;text-align:center;font-family:verdana;">Andrew Crisostomo | Max Vukovich | Anthony Wilson | Ahmad Nasim | Jaideep</p>
    <center><ul>
        <li class="btn"> <a style="color: black;" href="https://docs.google.com/document/d/1m9iGs8guf-1QQK8ik5K9iR7KFQmpcG5HrypKmLz7Zn4/edit?usp=sharing">Project Plan</a></li>
        <li class="btn"> <a style="color: black;" href="https://padlet.com/jmortensen7/csp2021tri3">Resources</a></li>
    </ul></center>
</div>


</body>
</html>

<style>
body
{
  background-image: url(../static/images/lion.jpg);
}
</style>

{% endblock %}
