<!DOCTYPE html>
<html lang="en">
{% extends 'andrewbase.html' %}
{% block home %}

<body class="home-bg">

<div class="hometext">
    <center><h1 style="color:black;font-size:125px;margin-top:50px;"><a style="text-decoration:none;color:black;cursor:text;">How Our Website was Created</a></h1></center>
    <center><h2 style="color:black;font-size:125px;margin-top:50px;"><a style="text-decoration:none;color:black;cursor:text;">The Planning, Brainstorming, and Work Behind the Scenes</a></h2></center>
    <center><ul>
        <li class="btn"> <a style="color: black;" href="https://github.com/MaxVukovich/P2Lions/blob/main/README.md">READMe</a></li>
        <li class="btn"> <a style="color: black;" href="https://github.com/MaxVukovich/P2Lions/projects/1">ScrumBoard</a></li>
    </ul></center>
</div>
<style>
body
{
  background-image: url(https://eskipaper.com/images/lions-wallpaper-28.jpg);
}
</style>



</body>
</html>

{% endblock %}
